body {
  background-color: lightblue;
}

#ttl1 {
	color: white;
}

#hover_button1 {
  width: 100px;
  height: 100px;
  background: skyblue;
  transition: width 0.5s, height 0.5s;
}

#hover_button1:hover {
  width: 150px;
  height: 150px;
}